@import "bootstrap";
.App {

}

.App{
  position: relative;
}
.sidebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
    .sidebar_logo{
      border-bottom: 1px solid black;
    }
    .sidebar_menu{

    }
    .sidebar_item{
      background-color: white;
      padding: 8px 4px;
      margin: 4px;
      border-radius: 4px;
    }
    .sidebar_item:hover{
      cursor: pointer;
      background-color: aqua;
    }
/* Content */
.wrapper{
  margin-left: 200px;
}

